<form action="/pdf-app/image" method = "post" enctype="multipart/form-data">
    <label for="name">Name of pdf file</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="images">Select images:</label>
    <input type="file" id="images" name="images" accept="image/*" multiple><br><br>
    <input type="submit">
  </form>